.header {
  margin-bottom: 12px;
}

.group {
  padding: 10px;
  background-color: var(--bg-log-info-card);
  border: 1px solid var(--color-separator);
  border-radius: 12px;
  box-shadow: var(--shadow-card);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    border-color: var(--color-focus-blue);
  }
}

.zapWrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: inline-flex;
  transform: rotate(0deg);
  transition: transform 0.3s;

  &.isOpen {
    transform: rotate(180deg);
  }

  &:focus {
    outline: var(--color-focus-blue) solid 1px;
  }
}

.groupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  .btnGroup {
    display: flex;
    flex-direction: row-reverse;
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    .btnGroup {
      flex-direction: row;
    }
  }
}
