@import '~/styles/utils/custom-media';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  margin-bottom: 8px;
  flex-shrink: 0;

  @media (--breakpoint-not-small) {
    padding: 12px 40px;
  }
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);
  white-space: nowrap;

  @media (--breakpoint-not-small) {
    font-size: 1.75rem;
  }
}

.filterWrapper {
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
}

.RuleProviderItemWrapper {
  padding: 8px 15px;
  @media (--breakpoint-not-small) {
    padding: 10px 40px;
  }
}
